<div class="col-md-3">
    <div class="profile-nav alt">
        <section class="panel text-center">
            <div class="user-heading alt wdgt-row bitcoin">
                <i class="fa fa-btc fa-4"></i>
            </div>

            <div class="panel-body">
                <div class="wdgt-value">
                    <h2 class="bit-count">$295</h2>
                    <p>Current Bitcoin Value</p>
                </div>
            </div>

        </section>
    </div>
</div>
