<!--header start-->
<header class="header fixed-top clearfix merge-header">
<!--logo start-->
  <div class="brand">
      <a href="index.html" class="logo">
         <!--  <img src="images/logo.png" alt=""> -->
         <h2>HIP<b>MONEY</b></h2>
      </a>
  </div>
      <!--logo end-->
  <div class="top-nav clearfix">
        <div class='nav notify-row'>
          <div class="countdown styled"></div>
      <div class="top-nav clearfix"></div>
      </div>
      <!--search & user info start-->

        <ul class="nav pull-right top-menu">

          <!-- user login dropdown start-->
          <li class="dropdown">
            <% if current_user%>
              <%= image_tag current_user.profile_pic %>
              <span class="username"><b> <%= current_user.name %> </b></span>
              <span><%= link_to '<i class="fa fa-sign-out"></i>'.html_safe, signout_path %></span>
              <% else %>
                <%= link_to '<img src="http://icons.iconarchive.com/icons/danleech/simple/1024/google-icon.png"><span class="username">  Sign in with Google</span>'.html_safe, "/auth/google_oauth2", class: 'dropdown-toggle'%>
            <% end %>

          </li>
          <!-- user login dropdown end -->
      </ul>
      <!--search & user info end-->
  </div>
  </div>
</header>
<!--header end-->
