<!-- BEGIN HEADER -->
<div class="header navbar navbar-inverse ">
  <!-- BEGIN TOP NAVIGATION BAR -->
  <div class="navbar-inner">
    <!-- END RESPONSIVE MENU TOGGLER -->
    <div class="header-quick-nav" >
      <!-- BEGIN CHAT TOGGLER -->
      <div class="pull-left">
        <ul class="nav quick-section">
          <li class="m-r-10 input-prepend inside search-form no-boarder">
            <input name="" type="text" placeholder="+ Add ticker" style="width:250px;">
          </li>
        </ul>
      </div>

      <div class="pull-right">
        <div class="chat-toggler"> <a href="#">
          <div class="user-details">
            <% if current_user %>
            <div class="username">Hello, <span class="bold"><%= current_user.name %></span>! </div>
          </div>
          <div class="iconset"></div>
          </a>
          <div class="profile-pic">
            <%= link_to (image_tag(current_user.profile_pic)), signout_path, id: "sign_out" %>
          </div>
      </div>

        <% else %>
          <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
        <% end %>
      </div>
      <!-- END CHAT TOGGLER -->
    </div>
    <!-- END TOP NAVIGATION MENU -->
  </div>
  <!-- END TOP NAVIGATION BAR -->
</div>
<!-- END HEADER -->
