<!--header start-->
<header class="header fixed-top clearfix">
<!--logo start-->
      <div class="brand">
          <a href="index.html" class="logo">
             <!--  <img src="images/logo.png" alt=""> -->
          </a>
      </div>
      <!--logo end-->
  <div class="top-nav clearfix">
      <!--search & user info goes here-->
        <% if current_user%>
        <% else %>
          <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
        <% end %>
  </div>
  <div class="top-nav clearfix">
      <!--search & user info start-->
      <ul class="nav pull-right top-menu">
          <li>
              <input type="text" class="form-control search" placeholder=" Search">
          </li>
          <!-- user login dropdown start-->
          <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                  <img alt="" src="images/avatar1_small.jpg">
                  <span class="username">John Doe</span>
                  <b class="caret"></b>
              </a>
              <ul class="dropdown-menu extended logout">
                  <li><a href="#"><i class=" fa fa-suitcase"></i>Profile</a></li>
                  <li><a href="#"><i class="fa fa-cog"></i> Settings</a></li>
                  <li><a href="login.html"><i class="fa fa-key"></i> Log Out</a></li>
              </ul>
          </li>
          <!-- user login dropdown end -->
          <li>
              <div class="toggle-right-box">
                  <div class="fa fa-bars"></div>
              </div>
          </li>
      </ul>
      <!--search & user info end-->
  </div>
</header>
<!--header end-->




