<!--header start-->
<header class="header fixed-top clearfix merge-header">
<!--logo start-->
  <div class="brand">
      <a href="index.html" class="logo">
         <!--  <img src="images/logo.png" alt=""> -->
         <h2>HIP<b>MONEY</b></h2>
      </a>
  </div>
      <!--logo end-->
  <div class="top-nav clearfix">

      <div class="top-nav clearfix">
      <!--search & user info start-->

        <ul class="nav pull-right top-menu">
          <!-- user login dropdown start-->
          <li class="dropdown">
            <% if current_user%>
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                  <%= image_tag current_user.profile_pic %>
                  <span class="username"><%= current_user.name %></span>
                  <b class="caret"></b>
              </a>
              <ul class="dropdown-menu extended logout">
                  <li><%= link_to '<i class="fa fa-sign-out"></i> Log Out'.html_safe, signout_path %></li>
              </ul>
              <% else %>
                <%= link_to '<img src="http://icons.iconarchive.com/icons/danleech/simple/1024/google-icon.png"><span class="username">  Sign in with Google</span>'.html_safe, "/auth/google_oauth2", class: 'dropdown-toggle'%>
            <% end %>

          </li>
          <!-- user login dropdown end -->
      </ul>
      <!--search & user info end-->
  </div>
  </div>
</header>
<!--header end-->
