<div class="col-md-5">
    <div class="profile-nav alt">
        <section class="panel">
            <div class="panel-heading">
              <span class="title">MY PORTFOLIO</span>
              <div class="pull-right">
                <a href="#" class="btn stat-btn" data-toggle="tab" id="portfolio-edit"><i class="fa fa-edit"></i></a>
              </div>
            </div>
                <section class="panel">
                    <div class="panel-body">
                        <section id="flip-scroll">
                            <table class="table table-bordered table-striped table-condensed cf">
                                <thead class="cf">
                                <tr>
                                    <th>Ticker</th>
                                    <th>Buy Date</th>
                                    <th>Buy Price</th>
                                    <th>Shares</th>
                                    <th>P/L</th>
                                </tr>
                                </thead>
                                <tbody>
                                <% current_user.portfolio_show.each do |stock| %>
                                  <tr>
                                      <td><%= t = Stock.find(stock.stock_id).ticker %></td>
                                      <td><%= stock.purchase_date %></td>
                                      <td class="numeric">$<%= stock.purchase_price %></td>
                                      <td class="numeric"><%= stock.shares %></td>
                                      <td class="numeric"></td>
                                  </tr>
                                <% end %>
                                  <tr class="sum">
                                    <td><b>TOTAL</b></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td class="sum"></td>
                                  </tr>
                              </tbody>

                            </table>
                        </section>
                </div>
        </section>
    </div>
</div>
