<section class="wrapper">
<!--mini statistics start-->
  <div class="col-md-3">
    <section class="panel">
      <div class="panel-body">
        <div class="top-stats-panel">
          <div class="monthly-stats pink">
            <div class="clearfix">
              <img src="images/chat-user-thumb.png" alt="logo">
              <h4 class="pull-right">APPL</h4>
            </div>
                    <!-- Tab panes -->
          </div>
          <div class="daily-visit">
            <div id="daily-visit-chart" style="width: 100%; height: 100px; display: block; padding: 0px; position: relative;">

              <canvas class="flot-base" width="160" height="100">
              </canvas>
              <div class="flot-text" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; font-size: smaller; color: rgb(84, 84, 84);">
                <div class="flot-x-axis flot-x1-axis xAxis x1Axis">
                  <div>
                    2
                  </div>
                  <div >
                    4
                  </div>
                  <div>
                    6</div><div>8</div><div>10</div></div><div class="flot-y-axis flot-y1-axis yAxis y1Axis"><div>0</div><div>50</div><div>100</div></div></div><canvas class="flot-overlay" width="160" height="100"></canvas></div>
              </div>
            </div>
            <div class="daily-visit">
              <ul class="chart-meta clearfix">
                <li class="pull-left visit-chart-value">3233</li>
                <li class="pull-right visit-chart-title"><i class="fa fa-arrow-up"></i> 15%</li>
              </ul>
            </div>
          </div>
    </section>
  </div>
</section>

