
<section class="wrapper">
<!--mini statistics start-->

<div class="row">                   

<% current_user.stocks.all.each do |stock| %>

  <div class="col-md-3">
    <section class="panel">
      <div class="panel-body">
        <div class="top-stats-panel">
          <div class="monthly-stats pink">
            <div class="clearfix">
              <% if stock.logo %>
              <%= image_tag stock.logo %>
              <% end %>
              <h4 class="pull-right"><%= stock.ticker %></h4>
            </div>
                    <!-- Tab panes -->
          </div>
          <div class="daily-visit">
            <div id="daily-visit-chart">

              
            </div>
          </div>
    </section>
  </div>
<% end %>

</section>

