<div class="col-md-8">
<section class="panel">
   <header class="panel-heading">
                <span class="title">STOCK PRICE CHART</span> <!--<span class="tools pull-right">
            <a href="javascript:;" class="fa fa-chevron-down"></a>
            <a href="javascript:;" class="fa fa-cog"></a>
            <a href="javascript:;" class="fa fa-times"></a>
          </span>-->
    </header>
    <div class="panel-body">
      <div id="stockchart"></div>
        <script src="http://code.highcharts.com/stock/highstock.js"></script>
        <script src="http://code.highcharts.com/stock/modules/exporting.js"></script>
    </div>
</section>
</div>
