
<div class='row'>

<div class="col-md-4">
                        <!--widget start-->
  <aside class="profile-nav alt">
      <section class="panel">
        
          <div class="user-heading alt gray-bg">
              <a href="#">
                 <div class='stock-logo'>
                  <img alt="" src="">
                </div>
              </a>
              <h1></h1>
              <p></p>
          </div>

          <ul class="nav nav-pills nav-stacked">
              <li>
                <a href="">
                  <i img src=""
                  ></i> 
                  <span class="badge label-success pull-right r-activity">10</span>
                </a>
              </li>
         
          </ul>

      </section>
  </aside>
  <!--widget end-->

</div>


<div class="col-md-8">
<div id="stockchart"></div>
<script src="http://code.highcharts.com/stock/highstock.js"></script>
<script src="http://code.highcharts.com/stock/modules/exporting.js"></script>
</div>
</div>

