 <div class="container">
  <div class="row">
    <form class="form-signin" style='z-index:50; position: relative;'>
      <h2 class="form-signin-heading" style="color:#000; background-color:rgba(255, 204, 68, 0.5)">
        <i class="fa fa-money"> </i><b> HipMoney</b><br>
        <span style="text-transform: lowercase; font-size: 10px;">Your personal finance dashboard</span></h2>

      <div class="login-wrap form-signin-heading">
        <center>
        <%= link_to 'Login with <i class="fa fa-google-plus"></i>'.html_safe, "/auth/google_oauth2"%>
      </center>
      </div>
    </form>
  </div>
</div>
<div class="video">
</div>
