<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <div class="container">

      <form class="form-signin" style='z-index:50; position: relative;'>
        <h2 class="form-signin-heading"><%= link_to '<div class="fa fa-google-plus fa-5x"></div>'.html_safe, "/auth/google_oauth2"%></div></h2>
<!--         <div class="login-wrap">
            <%#= link_to '<div class="fa fa-google-plus fa-5x"></div>'.html_safe, "/auth/google_oauth"%></div> -->

      </form>

    </div>
<div class='video'>
</div>
<script>

$(function(){
  $.okvideo({source:'http://vimeo.com/72506853', adproof: 'true'}) // [:url] refers to a YouTube or Vimeo URL
});
</script>

</div>
</body>
</html>
