#dashboard {
  padding: 7% 5%;
}

.header .chat-toggler .profile-pic img {
  border-radius: 50%;
  height: 35px;
  width: 35px;
}

header .top-nav {
margin-top: 12px;
margin-right: 12px;
}

header h2{
  color: grey;
  margin-left: 12px;
}
.wrapper{
  margin-top: 100px;
}

.monthly-stats.pink {
background-color: grey!important;
}


#st_scroll {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

#st_scroll::-webkit-scrollbar
{
  width: 0.8em;
}

#st_scroll::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

#st_scroll::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);

}
