#dashboard {
  padding: 7% 5%;
}

.header .chat-toggler .profile-pic img {
  border-radius: 50%;
  height: 35px;
  width: 35px;
}

header .top-nav {
margin-top: 12px;
margin-right: 12px;
}

header h2{
  color: grey;
  margin-left: 12px;
}



.tools a {
margin-left: 10px;
color: #a7a7a7;
font-size: 12px;
line-height: 30px;
}


.fa-plus{
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.rotate{
  transform:rotate(45deg);
  -ms-transform:rotate(45deg); /* IE 9 */
  -webkit-transform:rotate(45deg); /* Opera, Chrome, and Safari */
}

input, textarea, select, button {
outline: none !important;
border: none;
height: 20px;
width: 240px;
margin:0;
display: none;
background-color: rgba(0,0,0,0);
border-bottom: 1px solid grey;
padding-bottom: 15px;
color: white;
}


.panel-heading{
  background-color: #3e3642;
  border-color: #3e3642;
  padding: 15px;
  padding-bottom: 0px;
  height: 50px;
}

.profile-nav .user-heading{
  border-radius: 0;
}


.wrapper{
  margin-top: 100px;
}

.monthly-stats.pink {
background-color: grey!important;
}


#st_scroll {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

#st_scroll::-webkit-scrollbar
{
  width: 0.8em;
}

#st_scroll::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

#st_scroll::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);

}




video#bgvid {

position: fixed; right: 0; bottom: 0;

min-width: 100%; min-height: 100%;

width: auto; height: auto; z-index: -100;

background: url(chartvideo.jpg) no-repeat;

background-size: cover;

}

.login{
  z-index: 100;
  max-width: 100px;
  max-height: 100px;

.profile-nav .user-heading a img {
  width: 100px;
  height: 40px;
}
}
